<ValidatedForm
  @model={{@changeset}}
  @on-submit={{perform this.submit}} as |Form|
>
  <Form.input
    @label={{t "components.snippet-form.label.title"}}
    @name="title"
    @required={{true}}
  />

  {{#each this.intl.locales as |locale|}}
    <Form.input
      @label={{t "components.snippet-form.label.body" lang=(uppercase locale)}}
      @name="_body.{{locale}}"
      @type="textarea"
    />
  {{/each}}

  <Form.input
    @label={{t "components.snippet-form.label.archived"}}
    @name="archived"
    @type="checkbox"
  />

  <p class="uk-flex uk-flex-right">
    <div>
      <LinkTo class="uk-button uk-button-default" @route="snippets">
        {{t "global.cancel"}}
      </LinkTo>

      <Form.submit
        @label={{t "global.save"}}
      />
    </div>
  </p>
</ValidatedForm>
