<nav class="uk-navbar-container uk-navbar-transparent nav-bar" uk-navbar>
  <LinkTo @route="application" class="uk-navbar-item uk-logo uk-text-primary">
    {{#if @logo}}
      <img class="nav-bar-logo" src={{@logo}} alt={{@text}} />
    {{else}}
      {{@text}}
    {{/if}}
  </LinkTo>

  <div class="uk-navbar-left">
    <UkTab as |tab|>
      <tab.link-item @route="form-builder">
        {{t "nav.form-builder"}}
      </tab.link-item>
      <tab.item {{on "click" this.invalidateSession}}>
        {{t "nav.logout"}}
      </tab.item>
    </UkTab>
  </div>
</nav>
