<h3 class="uk-flex uk-flex-between">
  {{t "work-items.title"}}
</h3>

<hr>

<WorkItemList
  @query={{this.readyWorkItemsQuery}}
  @config={{this.readyTableConfig}}
/>

<h3>{{t "work-items.completedTitle"}}</h3>

<WorkItemList
  @query={{this.completedWorkItemsQuery}}
  @config={{this.completedTableConfig}}
/>
