{{!-- template-lint-disable no-invalid-interactive --}}
<div>
  <button
    type="button"
    class="context-menu-trigger"
    title={{t "global.openMenu"}}
    {{on "click" (set this "menuOpen" true)}}
  >
    <span hidden>{{t "global.openMenu"}}</span>
    <UkIcon @icon="more-vertical" />
  </button>
  <div uk-drop="pos: bottom-left">
    <div class="uk-card uk-card-body uk-card-default uk-card-hover uk-card-small">
      <ul class="uk-list">
        {{#each @actions as |action|}}
          <li>
            <UkButton
              @type="button"
              @color="text"
              @on-click={{action.action}}
              @label={{action.title}}
            />
          </li>
        {{/each}}
      </ul>

    </div>
  </div>
</div>
