<h3>{{t "documents.accesses.title"}}</h3>
<DynamicTable @data={{this.accesses}} @config={{this.accessTableConfig}} />
<h3>{{t "documents.accesses.invitations"}}</h3>
<DynamicTable
  @data={{this.invitations}}
  @config={{this.invitationTableConfig}}
/>