<h1>
  {{t "workItems.edit"}}
</h1>

<hr>

<h2>
  {{this.workItem.task.name}}
</h2>

<div class="uk-flex uk-flex-wrap">
  {{#if this.workItem.isCompleted}}
    <div class="uk-flex uk-flex-column work-item-attribute">
      <span class="uk-text-bold">
        {{t "workItems.closedBy"}}
      </span>
      {{this.workItem.closedByUser.fullName}}
    </div>
    <div class="uk-flex uk-flex-column work-item-attribute">
      <span class="uk-text-bold">
        {{t "workItems.closedAt"}}
      </span>
      {{
      format-date
        this.workItem.closedAt
        day="2-digit"
        month="2-digit"
        year="numeric"
        hour="2-digit"
        minute="2-digit"
        hour12=false
      }}
    </div>
  {{/if}}
</div>

<form
  class="uk-form-stacked"
  {{on "submit" (perform this.saveWorkItem)}}
>
  <div class="uk-margin">
    <label class="uk-form-label" for="responsible">
      {{t "workItems.responsible"}}
    </label>
    <div class="uk-form-controls">
      {{#if (and (can "edit work-item") (not this.workItem.isCompleted))}}
        <PowerSelect
          @searchEnabled={{true}}
          @searchField="fullName"
          @options={{this.identities}}
          @selected={{this.workItem.assignedUser}}
          @onChange={{this.setAssignedUser}}
          @triggerClass="uk-select"
          as |identity|
        >
          {{identity.fullName}}
        </PowerSelect>
      {{else}}
        <input
          class="uk-input"
          id="responsible"
          type="text"
          value={{this.workItem.assignedUser.fullName}}
          disabled
        >
      {{/if}}
    </div>
  </div>

  <div class="uk-margin">
    <label class="uk-form-label" for="createdBy">
      {{t "workItems.createdBy"}}
    </label>
    <div class="uk-form-controls">
      <input
        class="uk-input"
        id="createdBy"
        type="text"
        value={{this.workItem.createdByUser.fullName}}
        disabled
      >
    </div>
  </div>

  <div class="uk-margin">
    <label class="uk-form-label" for="createdAt">
      {{t "workItems.createdAt"}}
    </label>
    <div class="uk-form-controls">
      <input class="uk-input" id="createdAt" type="text" value={{
      format-date
        this.workItem.createdAt
        day="2-digit"
        month="2-digit"
        year="numeric"
        hour="2-digit"
        minute="2-digit"
        hour12=false
      }} disabled>
    </div>
  </div>

  <div class="uk-margin">
    <label class="uk-form-label" for="description">
      {{t "workItems.description"}}
    </label>
    <div class="uk-form-controls">
      <Textarea
        class="uk-input"
        id="description"
        @value={{this.workItem.task.description}}
        disabled
      />
    </div>
  </div>

  <div class="uk-margin">
    <label class="uk-form-label" for="deadline">
      {{t "workItems.deadline"}}
      <span class="mandatory">
        *
      </span>
    </label>
    <div class="uk-form-controls">
      <PikadayInput
        id="deadline"
        class="uk-input"
        @value={{this.workItem.deadline}}
        @useUTC={{true}}
        @onSelection={{this.setDeadline}}
        @disabled={{this.workItem.isCompleted}}
      />
    </div>
  </div>

  <div class="uk-text-right">
    <LinkTo
      @route="cases.detail.work-items"
      class="uk-button uk-button-default"
    >
      {{t "global.cancel"}}
    </LinkTo>
    <UkButton
      @type="submit"
      @color="primary"
      @label={{t "global.save"}}
    />
    {{#unless this.workItem.document}}
      <WorkItemButton
        @mutation="complete"
        @workItemId={{this.workItem.id}}
        @type="button"
        @color="primary"
        @label={{t "workItems.actions.finish"}}
        @disabled={{not this.workItem.canComplete}}
        @onSuccess={{this.transitionToWorkItems}}
      />
    {{/unless}}
  </div>
</form>
