<div ...attributes>
  <label class="uk-display-block">
    {{@label}}
    <input value={{@value}} class="uk-input" {{on "input" @onChange}}/>
  </label>
  {{#if @invertFilter}}
    <label>
      <Input
        class="uk-checkbox"
        @type="checkbox"
        @value={{@value.inverted}}
        {{on "click" @invertFilter}}
      />
      {{t "components.filters.invert"}}
    </label>
  {{/if}}
</div>
