<div ...attributes>
  <label class="uk-display-block">
    <span class="uk-text-truncate uk-display-block">
      {{@label}}
      {{#if @invertedIcon}}
        <UkIcon
          @icon="warning"
          @ratio="0.8"
          uk-tooltip={{t "components.filters.inverted"}}
        />
      {{/if}}
    </span>
    <input value={{@value}} class="uk-input" {{on "input" @onChange}} />
  </label>
  <Filters::Invert @invertFilter={{@invertFilter}} @inverted={{@inverted}} />
</div>