{{#if this.changesetResource.isFinished}}
  <ValidatedForm
    @model={{this.changeset}}
    @on-submit={{perform this.submit}}
    class="uk-margin-remove-last-child"
    as |Form|
  >
    {{#unless @customEndpoint}}
      <Form.input
        @label={{t "components.identity-form.label.isOrganisation"}}
        @type="checkbox"
        @name="isOrganisation"
        @on-update={{this.updateOrganisation}}
        @disabled={{or
          this.changeset.hasMembers
          this.changeset.hasMemberships
          (cannot "edit organisation identity" this.changeset.data)
        }}
      />

      {{#if this.changeset.isOrganisation}}
        <Form.input
          @label={{t "components.identity-form.label.organisationName"}}
          @name="organisationName"
          @disabled={{or
            (cannot "edit identity" this.changeset.data)
            @readOnlyView
          }}
        />

        <div uk-grid>
          <div>
            <Form.input
              @label={{t "components.identity-form.label.isExpertAssociation"}}
              @type="checkbox"
              @name="isExpertAssociation"
              @disabled={{or
                (cannot "edit identity" this.changeset.data)
                @readOnlyView
              }}
            />
          </div>
          <div>
            <Form.input
              @label={{t "components.identity-form.label.isAdvisoryBoard"}}
              @type="checkbox"
              @name="isAdvisoryBoard"
              @disabled={{or
                (cannot "edit identity" this.changeset.data)
                @readOnlyView
              }}
            />
          </div>
        </div>
      {{/if}}
    {{/unless}}

    {{#if (and this.changeset.isOrganisation @customEndpoint)}}
      <Form.input
        @label={{t "components.identity-form.label.organisationName"}}
        @name="organisationName"
        @disabled={{or
          (cannot "edit identity" this.changeset.data)
          @readOnlyView
        }}
      />
    {{/if}}
    <div class="uk-child-width-expand@s" uk-grid>
      <div>
        <Form.input
          @label={{t "components.identity-form.label.salutation"}}
          @name="salutation"
          @type="select"
          @options={{this.salutations}}
          @optionLabelPath="label"
          @optionTargetPath="value"
          @disabled={{or
            (cannot "edit identity" this.changeset.data)
            @readOnlyView
          }}
        />
      </div>
      <div>
        <Form.input
          @label={{t "components.identity-form.label.title"}}
          @name="title"
          @type="select"
          @options={{this.titles}}
          @optionLabelPath="label"
          @optionTargetPath="value"
          @disabled={{or
            (cannot "edit identity" this.changeset.data)
            @readOnlyView
          }}
        />
      </div>
    </div>
    <div class="uk-child-width-expand@s" uk-grid>
      <div>
        <Form.input
          @label={{t "components.identity-form.label.firstName"}}
          @name="firstName"
          @disabled={{or
            (cannot "edit identity" this.changeset.data)
            @readOnlyView
          }}
        />
      </div>
      <div>
        <Form.input
          @label={{t "components.identity-form.label.lastName"}}
          @name="lastName"
          @disabled={{or
            (cannot "edit identity" this.changeset.data)
            @readOnlyView
          }}
        />
      </div>
    </div>

    <div class="uk-margin">
      <Form.input
        @label={{t "components.identity-form.label.email"}}
        @name="email"
        as |field|
      >
        <div class="uk-form-controls">
          <input
            class="uk-input
              {{if field.isValid 'uk-form-success'}}
              {{if field.isInvalid 'uk-form-danger'}}
              "
            id="form-email"
            disabled={{or
              this.changeset.idpId
              (cannot "edit identity" this.changeset.data)
              @readOnlyView
            }}
            value={{field.value}}
            {{on "input" (fn this.eventTarget field.update)}}
            {{on "blur" field.setDirty}}
          />
        </div>
        {{#if this.changeset.idpId}}
          <p class="uk-margin-remove-top">
            <a
              href={{this.keyCloakAccountUrl}}
              target="_blank"
              rel="noopener noreferrer"
            >
              {{~t "components.identity-form.hint.email"~}}
            </a>
          </p>
        {{/if}}
      </Form.input>
    </div>

    <Form.input
      @label={{t "components.identity-form.label.language"}}
      @name="language"
      @type="select"
      @options={{this.languages}}
      @optionLabelPath="label"
      @optionTargetPath="value"
      @disabled={{or
        (cannot "edit identity" this.changeset.data)
        @readOnlyView
      }}
    />

    {{#if @profileView}}
      <div class="uk-flex uk-flex-right">
        <Form.submit
          @label={{t "global.save"}}
          @disabled={{cannot "edit identity" this.changeset.data}}
        />
      </div>
    {{else if @readOnlyView}}{{else}}
      <Form.input
        @label={{t "components.identity-form.label.comment"}}
        @name="comment"
        @type="textarea"
      />

      <p class="uk-flex uk-flex-between">
        <div>
          {{#if (and (not this.changeset.isNew) (can "delete identity"))}}
            <button
              class="uk-button uk-button-danger"
              type="button"
              {{on "click" (perform this.delete this.changeset.data)}}
            >
              {{t "components.identity-form.control.delete"}}
            </button>
          {{/if}}
        </div>

        <div>
          <LinkTo
            class="uk-button uk-button-default"
            @route={{this.cancelRoute}}
          >
            {{t "global.cancel"}}
          </LinkTo>

          <Form.submit
            @label={{t "global.save"}}
            @disabled={{cannot "edit identity" this.changeset.data}}
          />
          <UkButton
            @type="button"
            @color="primary"
            @onClick={{this.setBackToIdentities}}
            @label={{t "global.saveAndBack"}}
            @disabled={{cannot "edit identity" this.changeset.data}}
          />
        </div>
      </p>
    {{/if}}
  </ValidatedForm>
{{/if}}