<div {{did-insert this.onUpdate}} {{did-update this.onUpdate @identity}}>
  {{#if this.changeset}}
    <ValidatedForm
      @model={{this.changeset}}
      @on-submit={{perform this.submit}}
      class="uk-margin-remove-last-child" as |Form|
    >
      <Form.input
        @label={{t "component.identity-form.label.isOrganisation"}}
        @type="checkbox"
        @name="isOrganisation"
        @on-update={{this.updateOrganisation}}
        @disabled={{
          or
          this.changeset.hasMembers
          this.changeset.hasMemberships
          (cannot "edit identity" this.changeset.data)
        }}
      />

      {{#if this.changeset.isOrganisation}}
        <Form.input
          @label={{t "component.identity-form.label.organisationName"}}
          @name="organisationName"
          @disabled={{cannot "edit identity" this.changeset.data}}
        />
      {{/if}}

      <Form.input
        @label={{t "component.identity-form.label.salutation"}}
        @name="salutation"
        @type="select"
        @options={{this.salutations}}
        @optionLabelPath="label"
        @optionTargetPath="value"
      />

      <div class="uk-child-width-expand@s" uk-grid>
        <div>
          <Form.input
            @label={{t "component.identity-form.label.firstName"}}
            @name="firstName"
            @disabled={{cannot "edit identity" this.changeset.data}}
          />
        </div>
        <div>
          <Form.input
            @label={{t "component.identity-form.label.lastName"}}
            @name="lastName"
            @disabled={{cannot "edit identity" this.changeset.data}}
          />
        </div>
      </div>

      <div class="uk-margin">
        <Form.input
          @label={{t "component.identity-form.label.email"}}
          @name="email" as |field|
        >
          <div class="uk-form-controls">
            <input
              class="
              uk-input
              {{if field.isValid "uk-form-success"}}
               {{if field.isInvalid "uk-form-danger"}}
              "
              id="form-email"
              disabled={{
                or
                this.changeset.idpId
                (cannot "edit identity" this.changeset.data)
              }}
              value={{field.value}}
              {{on "input" (fn this.eventTarget field.update)}}
              {{on "blur" field.setDirty}}
            />
          </div>
          {{#if this.changeset.idpId}}
            <p class="uk-margin-remove-top">
              <a href={{this.keyCloakAccountUrl}} target="_blank" rel="noopener noreferrer">
                {{~t "component.identity-form.hint.email"~}}
              </a>
            </p>
          {{/if}}
        </Form.input>
      </div>

      <p class="uk-flex uk-flex-between">
        <div>
          {{#if
            (and
              (not this.changeset.isNew)
              (can "delete identity" this.changeset.data)
            )
          }}
            <button
              class="uk-button uk-button-danger"
              type="button"
              {{on "click" (perform this.delete this.changeset.data)}}
            >
              {{t "component.identity-form.control.delete"}}
            </button>
          {{/if}}
        </div>

        <div>
          <LinkTo class="uk-button uk-button-default" @route="identities">
            {{t "component.identity-form.control.cancel"}}
          </LinkTo>

          <Form.submit
            @label={{t "component.identity-form.control.submit"}}
            @disabled={{cannot "edit identity" this.changeset.data}}
          />
        </div>
      </p>
    </ValidatedForm>
  {{/if}}
</div>
