<div class="uk-grid-collapse" uk-grid>
  <div class="uk-width-1-3">
    <span class="uk-text-large">
      {{t "documents.general"}}
    </span>
  </div>
  <div class="uk-width-2-3">
    <table class="uk-table uk-table-justify uk-table-small">
      <tbody>
        <tr>
          <th class="uk-text-bold uk-width-1-6">
            {{t "documents.number"}}
          </th>
          <td class="uk-width-1-3">
            {{@model.document.answers.edges.firstObject.node.StringAnswerValue}}
          </td>
          <th class="uk-text-bold uk-width-1-6">
            {{t "documents.description"}}
          </th>
          <td class="uk-width-1-3">
            {{or @model.form.description "-"}}
          </td>
        </tr>
        <tr>
          <th class="uk-text-bold uk-width-1-6">
            {{t "documents.createdAt"}}
          </th>
          <td class="uk-width-1-3">
            {{
              if
              @model.createdAt
              (moment-format @model.createdAt "DD.MM.YYYY")
              "-"
            }}
          </td>
          <th class="uk-text-bold uk-width-1-6">
            {{t "documents.modifiedAt"}}
          </th>
          <td class="uk-width-1-3">
            {{
              if
              @model.modifiedAt
              (moment-format @model.modifiedAt "DD.MM.YYYY")
              "-"
            }}
          </td>
        </tr>
        <tr>
          <th>{{t "work-items.title"}}</th>
          <td>{{this.readyWorkItems}}</td>
          <th class="uk-text-bold uk-width-1-6">
            {{t "documents.status"}}
          </th>
          <td class="uk-width-1-3">
            <CaseStateLabel @state={{@model.meta.status}} @iconPosition="right" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<hr />

<div class="uk-grid-collapse" uk-grid>
  <div class="uk-width-1-3">
    <span class="uk-text-large">
      {{t "documents.actions"}}
    </span>
  </div>
  <div class="uk-width-2-3">
    <CaseAccessTables @case={{@model}}/>
    {{#if (can "add access case" @model)}}
      <UkButton
        @type="button"
        @label={{t "documents.accesses.add"}}
        @on-click={{this.addAccessRow}}
      />
    {{/if}}

    {{#if (eq @model.raw.status "RUNNING")}}
      {{#if @model.hasEditableWorkItem}}
        <h3>{{t "documents.edit"}}</h3>
        <p>{{t "documents.editText"}}</p>

        <LinkTo @route="cases.detail.edit" class="uk-button uk-button-default">
          {{t "documents.edit"}}
        </LinkTo>
      {{/if}}

      {{#if @model.hasSubmitWorkItem}}
        <h3>{{t "documents.delete"}}</h3>
        <p>{{t "documents.deleteText"}}</p>

        <UkButton
          @type="button"
          @on-click={{perform this.closeCase}}
          @disabled={{this.closeCase.isRunning}}
          @loading={{this.closeCase.isRunning}}
        >
          {{t "documents.delete"}}
        </UkButton>
      {{/if}}

      {{#if @model.completeWorkItem}}
        <h3>{{t "documents.complete"}}</h3>
        <p>{{t "documents.completeText"}}</p>

        <WorkItemButton
          @mutation="complete"
          @workItemId={{@model.completeWorkItem.id}}
          @type="submit"
          @color="primary"
          @label={{t "documents.complete"}}
          @onSuccess={{this.transitionToCases}}
        />
      {{/if}}
    {{/if}}
    {{#if (can "exportForAccounting case")}}
      <h3>{{t "documents.accountingExport"}}</h3>
      <UkButton
        @type="button"
        @on-click={{perform this.exportAccounting @model}}
        @loading={{this.exportAccounting.isRunning}}
      >
        {{t "documents.accountingExport"}}
      </UkButton>
    {{/if}}
  </div>
</div>

<hr />

<UkModal @visible={{this.modalVisible}} @on-hide={{fn (mut this.modalVisible) false}} as |modal|>
  <modal.header>
    <h2 class="uk-modal-title">
      {{t "documents.accesses.add"}}
    </h2>
  </modal.header>
  <ValidatedForm
    @model={{this.newRow}}
    @on-submit={{perform this.saveAccessRow}}
    as |Form|
  >
    <modal.body>
      <Form.input
        @label={{t "documents.accesses.email"}}
        @name="email"
      />
    </modal.body>
    <modal.footer class="uk-text-right">
      <UkButton
        {{on "click" (perform this.cancelAccessRow)}}
      >
        {{t "global.cancel"}}
      </UkButton>
      <Form.submit
        @label={{t "global.save"}}
      />
    </modal.footer>
  </ValidatedForm>
</UkModal>
