<div class="uk-grid-collapse" uk-grid>
  <div class="uk-width-1-3">
    <span class="uk-text-large">
      {{t "documents.general"}}
    </span>
  </div>
  <div class="uk-width-2-3">
    <table class="uk-table uk-table-justify uk-table-small">
      <tbody>
        <tr>
          <th class="uk-text-bold uk-width-1-6">
            {{t "documents.status"}}
          </th>
          <td class="uk-width-1-3">
            <CaseStateLabel @state={{@model.status}} @iconPosition="right" />
          </td>
          <th class="uk-text-bold uk-width-1-6">
            {{t "documents.description"}}
          </th>
          <td class="uk-width-1-3">
            {{or @model.form.description "-"}}
          </td>
        </tr>
        <tr>
          <th class="uk-text-bold uk-width-1-6">
            {{t "documents.createdAt"}}
          </th>
          <td class="uk-width-1-3">
            {{
              if
              @model.createdAt
              (moment-format @model.createdAt "DD.MM.YYYY")
              "-"
            }}
          </td>
          <th class="uk-text-bold uk-width-1-6">
            {{t "documents.modifiedAt"}}
          </th>
          <td class="uk-width-1-3">
            {{
              if
              @model.modifiedAt
              (moment-format @model.modifiedAt "DD.MM.YYYY")
              "-"
            }}
          </td>
        </tr>
        <tr>
          <th>{{t "workItems.title"}}</th>
          <td>{{this.readyWorkItems}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<hr />

<div class="uk-grid-collapse" uk-grid>
  <div class="uk-width-1-3">
    <span class="uk-text-large">
      {{t "documents.actions"}}
    </span>
  </div>
  <div class="uk-width-2-3">
    {{#if (and (eq @model.status "RUNNING") (or this.isNotSubmitted this.isNotRejected))}}
      <h3>{{t "documents.edit"}}</h3>
      <p>{{t "documents.editText"}}</p>

      <LinkTo @route="cases.detail.edit" class="uk-button uk-button-default">
        {{t "documents.edit"}}
      </LinkTo>
    
      <h3 {{did-insert (perform this.computeDocument)}}>{{t "documents.submit"}}</h3>
      {{#if this.submitDisabled}}
        <p>{{t "documents.noSubmitText"}}</p>
      {{else}}
        <p>{{t "documents.submitText"}}</p> 
      {{/if}}
      {{#if this.computeDocument.isRunning}}
        <div class="uk-text-center uk-padding">
          <UkSpinner @ratio={{2}} />
        </div>
      {{else}}
        <DocumentValidity @document={{this.computeDocument.lastSuccessful.value}} as |isValid|>
          <WorkItemButton
            @mutation="complete"
            @workItemId={{@model.workItems.edges.firstObject.node.id}}
            @label={{t "documents.submit"}}
            @disabled={{and this.submitDisabled (not isValid)}}
            @onSuccess={{this.transitionToCase}}
          />
        </DocumentValidity>
      {{/if}}
    {{/if}}

    {{#if (and (eq @model.status "RUNNING") this.isNotSubmitted)}}
      <h3>{{t "documents.delete"}}</h3>
      <p>{{t "documents.deleteText"}}</p>

      <UkButton
        @on-click={{perform this.closeCase @model}}
        @disabled={{this.closeCase.isRunning}}
        @loading={{this.closeCase.isRunning}}
      >
        {{t "documents.delete"}}
      </UkButton>
    {{/if}}
  </div>
</div>

<hr />
