<h2 class="uk-flex uk-flex-middle">
  <LinkTo
    @route="cases.index"
    class="uk-icon-button uk-margin-right"
    uk-icon="icon: arrow-left; ratio: 2"
    aria-label={{t "documents.back"}}
    title={{t "documents.back"}}
  >
    <span hidden>{{@model.document.form.name}}</span>
  </LinkTo>
  {{@model.document.form.name}}
</h2>

<ul uk-tab>
  <li>
    <LinkTo @route="cases.detail.index" @model={{@model}}>
      {{t "documents.subnav.overview"}}
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="cases.detail.work-items" @model={{@model}}>
      {{t "documents.subnav.work-items"}}
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="cases.detail.edit" @model={{@model}}>
      {{t "documents.subnav.document"}}
    </LinkTo>
  </li>
  {{#if this.circulation}}
    <li>
      <LinkTo @route="cases.detail.circulation" @model={{@model}}>
        {{t "documents.subnav.circulation"}}
      </LinkTo>
    </li>
  {{/if}}
  <li>
    <LinkTo @route="cases.detail.download" @model={{@model}}>
      {{t "documents.subnav.download"}}
    </LinkTo>
  </li>
</ul>

{{outlet}}
