<div ...attributes>
  <label>
    <span class="uk-invisible">{{t "components.filters.modal.open"}}</span>
    <UkButton
      class="uk-inline uk-display-block"
      @onClick={{fn (mut this.visible) true}}
    >
      {{t "components.filters.modal.open"}}
      {{#if @setFiltersAmount}}
        <span class="uk-badge">{{@setFiltersAmount}}</span>
      {{/if}}
    </UkButton>
  </label>
</div>


<UkModal
  @visible={{this.visible}}
  @onHide={{fn (mut this.visible) false}}
  @dialogClass="uk-width-5-6"
  as |modal|
>
  <modal.header>
    <h3 class="uk-modal-title">{{t "components.filters.modal.title"}}</h3>
  </modal.header>
  <modal.body>
    {{yield}}
  </modal.body>
  <modal.footer class="uk-flex uk-flex-center filters-gap">
    <UkButton
      @label={{t "components.filters.reset"}}
      @onClick={{@resetFilters}}
    />
    <UkButton
      @label={{t "components.filters.modal.close"}}
      @onClick={{fn (mut this.visible) false}}
      @color="primary"
    />
  </modal.footer>
</UkModal>
