<table
  class="dynamic-table uk-table uk-table-striped uk-table-hover uk-table-responsive
    {{join ' ' @config.classList}}"
  ...attributes
>
  <thead>
    <tr>
      {{#each (map-by "heading" @config.columns) as |header|}}
        <th class={{join " " header.classList}}>
          {{#if header.sortKey}}
            <UkButton
              @color="text"
              @onClick={{fn this.updateOrder header.sortKey}}
            >
              {{t header.label}}
              {{#if (eq this.orderKey header.sortKey)}}
                <span uk-icon="icon: {{this.sortIcon}}"></span>
              {{/if}}
            </UkButton>
          {{else}}
            {{t header.label}}
          {{/if}}
        </th>
      {{/each}}
    </tr>
  </thead>
  <tbody class="uk-overflow-auto">
    {{#each @data as |entry|}}
      <tr class="uk-table-middle">
        {{#each @config.columns as |tdDefinition|}}
          <DynamicTable::TableData
            @tdDefinition={{tdDefinition}}
            @value={{entry}}
          />
        {{/each}}
      </tr>
    {{else}}
      {{#unless @loading}}
        <tr>
          <td colspan="8" class="uk-text-center">
            {{t "global.empty"}}
          </td>
        </tr>
      {{/unless}}
    {{/each}}
  </tbody>
</table>

{{#if @loading}}
  <LoadingSpinner />
{{else if @hasNextPage}}
  <div {{in-viewport onEnter=@loadMoreData}}>
    <LoadingSpinner />
  </div>
{{/if}}