<table
  class="dynamic-table uk-table uk-table-striped uk-table-hover uk-table-responsive
    {{join ' ' @config.classList}}"
  ...attributes
>
  <thead>
    <tr>
      {{#each (map-by "heading" @config.columns) as |header|}}
        <DynamicTable::Header
          @config={{header}}
          @order={{@order}}
          @setOrder={{@setOrder}}
        />
      {{/each}}
    </tr>
  </thead>
  <tbody class="uk-overflow-auto">
    {{#each @data as |entry|}}
      {{! template-lint-disable no-invalid-interactive }}
      <tr
        class="uk-table-middle"
        {{on "click" (fn (optional @selectRow) entry)}}
        role={{if @selectRow "button" "row"}}
      >
        {{#each @config.columns as |tdDefinition|}}
          <DynamicTable::TableData
            @tdDefinition={{tdDefinition}}
            @value={{entry}}
          />
        {{/each}}
      </tr>
    {{else}}
      {{#unless @loading}}
        <tr>
          <td colspan="8" class="uk-text-center">
            {{t "global.empty"}}
          </td>
        </tr>
      {{/unless}}
    {{/each}}
  </tbody>
</table>

{{#if @loading}}
  <LoadingSpinner />
{{else if @hasNextPage}}
  <div {{in-viewport onEnter=@loadMoreData}}>
    <LoadingSpinner />
  </div>
{{/if}}