<h1 class="uk-flex uk-flex-between">
  {{t "work-items.title"}}
</h1>

<hr />

<Filters as |Filter|>
  <Filter.RadioButtons
    @label={{t "work-items.filters.responsible"}}
    @selected={{this.responsible}}
    @options={{
      array
      (hash value="all" label=(t "work-items.filters.all"))
      (hash value="own" label=(t "work-items.filters.own"))
    }}
    @onChange={{fn this.updateFilter "responsible"}}
  />
  <Filter.RadioButtons
    @label={{t "work-items.filters.status"}}
    @selected={{this.status}}
    @options={{
      array
      (hash value="open" label=(t "work-items.filters.open"))
      (hash value="closed" label=(t "work-items.filters.closed"))
    }}
    @onChange={{fn this.updateFilter "status"}}
  />
  <Filter.RadioButtons
    @label={{t "work-items.filters.role"}}
    @selected={{this.role}}
    @options={{
      array
      (hash value="active" label=(t "work-items.filters.active"))
      (hash value="control" label=(t "work-items.filters.control"))
    }}
    @onChange={{fn this.updateFilter "role"}}
  />
  <Filter.RadioButtons
    @label={{t "work-items.filters.order"}}
    @selected={{this.order}}
    @options={{
      array
      (hash value="urgent" label=(t "work-items.filters.urgent"))
      (hash value="new" label=(t "work-items.filters.new"))
    }}
    @onChange={{fn this.updateFilter "order"}}
  />
  <Filter.Dropdown
    @label={{t "work-items.filters.taskTypes"}}
    @selected={{this.taskTypes}}
    @options={{this.fetchTasks.lastSuccessful.value}}
    @onChange={{fn this.updateFilter "taskTypes"}}
  />
  <Filter.Input
    @label={{t "work-items.filters.documentNumber"}}
    @value={{this.documentNumber}}
    @onChange={{fn this.updateFilter "documentNumber"}}
  />
</Filters>

<WorkItemList
  @query={{this.workItemsQuery}}
  @config={{this.tableConfig}}
/>
