<td
  class={{
    concat
    (if @tdDefinition.truncate "uk-text-truncate")
    " "
    (join " " @tdDefinition.classList)
    this.showAccent
  }}
  uk-tooltip={{if @tdDefinition.truncate this.value}}
>
  {{#let (component this.componentName value=@value tdDefinition=@tdDefinition) as |Content|}}
    {{#if @tdDefinition.linkTo}}
      <LinkTo
        @route={{@tdDefinition.linkTo}}
        @model={{this.linkToModel}}
        class="uk-text-bold uk-text-primary"
      >
        <Content @value={{this.value}} />
      </LinkTo>
    {{else}}
      <Content @value={{this.value}} @tdDefinition={{@tdDefinition}}/>
    {{/if}}
  {{/let}}
</td>
