<h1>{{t "identities.edit.title"}}</h1>

<IdentityForm
  @identity={{@model}}
  @onOrganisationUpdate={{this.onOrganisationUpdate}}
/>

<hr>

<div uk-grid>
  <div class="uk-width-1-2@m uk-width-1-3@l">
    <div class="uk-card uk-card-default uk-card-body uk-card-small">
      <IdentityAddresses @identity={{@model}} />
    </div>
  </div>

  <div class="uk-width-1-2@m uk-width-1-3@l">
    <div class="uk-card uk-card-default uk-card-body uk-card-small">
      <IdentityEmails @identity={{@model}} />
    </div>
  </div>

  <div class="uk-width-1-2@m uk-width-1-3@l">
    <div class="uk-card uk-card-default uk-card-body uk-card-small">
      <IdentityPhoneNumbers @identity={{@model}} />
    </div>
  </div>

  <div class="uk-width-1-2@m">
    <div class="uk-card uk-card-default uk-card-body uk-card-small">
      <IdentityInterests @identity={{@model}} />
    </div>
  </div>

  {{#if this.isOrganisation}}
    <div class="uk-width-1-2@m">
      <div class="uk-card uk-card-default uk-card-body uk-card-small">
        <IdentityMembers @identity={{@model}} />
      </div>
    </div>
  {{else}}
    <div class="uk-width-1-2@m">
      <div class="uk-card uk-card-default uk-card-body uk-card-small">
        <IdentityMemberships @identity={{@model}} />
      </div>
    </div>
  {{/if}}
</div>
