<div ...attributes>
  <label class="uk-display-block">
    {{t "documents.filters.identity"}}
    <PowerSelectMultiple
      @options={{this.identityOptions.value}}
      @selected={{this.selection}}
      @onChange={{this.setSelection}}
      @searchEnabled={{true}}
      @search={{perform this.search}}
      @renderInPlace={{true}}
      @loadingMessage={{t "components.filters.dropdown.loading"}}
      @searchMessage={{t "components.filters.dropdown.search"}}
      @noMatchesMessage={{t "components.filters.dropdown.empty"}}
      as |option|
    >
      {{option.label}}
    </PowerSelectMultiple>
  </label>
</div>
