<div ...attributes>
  <label class="uk-display-block">
    {{t "documents.filters.identity"}}
    {{log @selected}}
    <PowerSelectMultiple
      @options={{this.identityOptions.value}}
      @selected={{this.selected}}
      @onChange={{this.setSelection}}
      @searchEnabled={{true}}
      @search={{perform this.search}}
      @renderInPlace={{true}}
      @loadingMessage={{t "components.filters.dropdown.loading"}}
      @searchMessage={{t "components.filters.dropdown.search"}}
      @noMatchesMessage={{t "components.filters.dropdown.empty"}}
      as |option|
    >
      {{option.label}}
    </PowerSelectMultiple>
  </label>
  {{#if @invertable}}
    <label>
      <Input class="uk-checkbox" @type="checkbox"/>
      {{t "components.filters.invert"}}
    </label>
  {{/if}}
</div>
