<div ...attributes>
  <label class="uk-display-block">
    {{t "documents.filters.identity"}}
    <PowerSelectMultiple
      @options={{this.identityOptions.value}}
      @selected={{this.selected}}
      @onChange={{this.setSelection}}
      @searchEnabled={{true}}
      @search={{perform this.search}}
      @renderInPlace={{true}}
      @loadingMessage={{t "components.filters.dropdown.loading"}}
      @searchMessage={{t "components.filters.dropdown.search"}}
      @noMatchesMessage={{t "components.filters.dropdown.empty"}}
      as |option|
    >
      {{option.label}}
    </PowerSelectMultiple>
  </label>
  {{#if @invertFilter}}
    <label>
      <Input
        class="uk-checkbox"
        @type="checkbox"
        @value={{@value.inverted}}
        {{on "click" @invertFilter}}
      />
      {{t "components.filters.invert"}}
    </label>
  {{/if}}
</div>
