<div ...attributes>
  <label class="uk-display-block">
    <span>
      {{t "documents.filters.identity"}}
      {{#if @invertedIcon}}
        <UkIcon
          @icon="warning"
          @ratio="0.8"
          uk-tooltip={{t "components.filters.inverted"}}
        />
      {{/if}}
    </span>
    <PowerSelectMultiple
      @options={{this.identityOptions.value}}
      @selected={{this.selected}}
      @onChange={{this.setSelection}}
      @searchEnabled={{true}}
      @searchField="label"
      @search={{perform this.search}}
      @renderInPlace={{true}}
      @loadingMessage={{t "components.filters.dropdown.loading"}}
      @searchMessage={{t "components.filters.dropdown.search"}}
      @noMatchesMessage={{t "components.filters.dropdown.empty"}}
      as |option|
    >
      {{option.label}}
    </PowerSelectMultiple>
  </label>
  <Filters::Invert @invertFilter={{@invertFilter}} @inverted={{@inverted}} />
</div>