<nav
  class="
    nav-bar uk-navbar-container uk-navbar-transparent
    uk-padding uk-padding-remove-top uk-padding-remove-bottom
  "
  uk-navbar
>
  <LinkTo @route="application" class="uk-navbar-item uk-logo uk-text-primary uk-padding-remove">
    {{#if @logo}}
      <img class="nav-bar-logo" src={{@logo}} alt={{@text}} />
    {{else}}
      {{@text}}
    {{/if}}
  </LinkTo>

  <div class="uk-navbar-left uk-visible@m">
    <UkTab as |tab|>
      {{#if this.session.isAuthenticated}}
        <tab.link-item @route="cases">
          {{t "nav.documents"}}
        </tab.link-item>

        {{#if (can "list identity")}}
          <tab.link-item @route="identities">
            {{t "nav.identities"}}
          </tab.link-item>
        {{/if}}
        {{#if (can "list interest")}}
          <tab.link-item @route="interests">
            {{t "nav.interests"}}
          </tab.link-item>
        {{/if}}
        {{#if (can "list membership-role")}}
          <tab.link-item @route="membership-roles">
            {{t "nav.roles"}}
          </tab.link-item>
        {{/if}}

        {{#if (can "list form-builder")}}
          <tab.link-item @route="form-builder">
            {{t "nav.form-builder"}}
          </tab.link-item>
        {{/if}}

        <tab.link-item @route="profile">
          {{t "nav.profile"}}
        </tab.link-item>

        <tab.item {{on "click" this.invalidateSession}}>
          {{t "nav.logout"}}
        </tab.item>
      {{else}}
        <tab.link-item @route="login">
          {{t "nav.login"}}
        </tab.link-item>
      {{/if}}
    </UkTab>
  </div>

  <div class="uk-navbar-right uk-hidden@m">
    <button
      class="uk-icon-button uk-button-default"
      type="button"
      uk-toggle="target: #offcanvas"
      uk-icon="menu"
    ></button>
  </div>
</nav>

<div id="offcanvas" uk-offcanvas="flip: true; overlay: true">
  <div class="uk-offcanvas-bar uk-flex uk-flex-column">
    <button class="uk-offcanvas-close" type="button" uk-close></button>

    <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
      <li>
        <LinkTo @route="cases" uk-toggle="target: #offcanvas">
          {{t "nav.documents"}}
        </LinkTo>
      </li>

      <li class="uk-nav-header">{{t "nav.admin"}}</li>
      {{#if (can "list identity")}}
        <li>
          <LinkTo @route="identities" uk-toggle="target: #offcanvas">
            {{t "nav.identities"}}
          </LinkTo>
        </li>
      {{/if}}
      {{#if (can "list interest")}}
        <li>
          <LinkTo @route="interests" uk-toggle="target: #offcanvas">
            {{t "nav.interests"}}
          </LinkTo>
        </li>
      {{/if}}
      {{#if (can "list membership-role")}}
        <li>
          <LinkTo @route="membership-roles" uk-toggle="target: #offcanvas">
            {{t "nav.roles"}}
          </LinkTo>
        </li>
      {{/if}}
      {{#if (can "list form-builder")}}
        <li>
          <LinkTo @route="form-builder" uk-toggle="target: #offcanvas">
            {{t "nav.form-builder"}}
          </LinkTo>
        </li>
      {{/if}}

      <li class="uk-nav-header">{{t "nav.account"}}</li>
      <li>
        <LinkTo @route="profile" uk-toggle="target: #offcanvas">
          {{t "nav.profile"}}
        </LinkTo>
      </li>
      <li>
        <a href="#" {{on "click" this.invalidateSession}} uk-toggle="target: #offcanvas">
          <span class="uk-margin-small-right" uk-icon="icon: sign-out"></span>
          {{t "nav.logout"}}
        </a>
      </li>
    </ul>

  </div>
</div>
