<div
  {{did-insert this.onUpdate}}
  {{did-update this.onUpdate @identity}}
  class="uk-margin-remove-last-child"
>
  <h2>{{t "components.identity-emails.title"}}</h2>

  {{#if this.fetchEmails.isRunning}}
    <LoadingSpinner />
  {{else}}
    {{#if this.emails.length}}
      <ul
        class="uk-list uk-list-divider"
        data-test-email-list
      >
        {{#each this.emails as |email|}}
          <li
            class="uk-flex uk-flex-between uk-flex-middle"
            data-test-email-item
          >
            <div>
              {{email.email}}

              {{#if email.description}}
                <div class="uk-text-meta">
                  {{email.description}}
                </div>
              {{/if}}
            </div>

            <div class="uk-flex uk-flex-between">
              <a
                class="uk-icon-button uk-button-default"
                uk-icon="mail"
                href="mailto:{{email.email}}"
                aria-label={{t "components.identity-emails.list.send"}}
                title={{t "components.identity-emails.list.send"}}
              >
                <span hidden>{{email.email}}</span>
              </a>

              <div class="uk-margin-left">
                {{#if (can "edit additional-email" @identity)}}
                  <button
                    class="uk-icon-button uk-button-default"
                    type="button"
                    uk-icon="pencil"
                    disabled={{this.changeset}}
                    title={{t "components.identity-emails.list.edit"}}
                    {{on "click" (fn this.edit email)}}
                  ></button>
                {{/if}}

                {{#if (can "delete additional-email" @identity)}}
                  <button
                    class="uk-icon-button uk-button-default"
                    type="button"
                    uk-icon="close"
                    disabled={{or this.changeset this.delete.isRunning}}
                    title={{t "components.identity-emails.list.delete"}}
                    {{on "click" (perform this.delete email)}}
                  ></button>
                {{/if}}
              </div>
            </div>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p>{{t "components.identity-emails.list.empty"}}</p>
    {{/if}}

    {{#if (can "add additional-email" @identity)}}
      <p class="uk-text-right">
        <button
          class="uk-button uk-button-default"
          type="button"
          disabled={{this.changeset}}
          {{on "click" (fn this.edit null)}}
          data-test-email-add
        >
          {{t "components.identity-emails.add"}}
        </button>
      </p>
    {{/if}}
  {{/if}}

  {{#if this.changeset}}
    <hr>

    <h3 class="uk-margin-remove-top">
      {{if this.changeset.isNew
        (t "components.identity-emails.form.title.add")
        (t "components.identity-emails.form.title.edit")
      }}
    </h3>

    <ValidatedForm
      @model={{this.changeset}}
      @on-submit={{perform this.submit}}
      class="uk-margin-remove-last-child"
      as |Form|
    >
      <Form.input
        @label={{t "components.identity-emails.form.label.email"}}
        @name="email"
      />

      {{#if (can "show multi-lang-description additional-email")}}
        <div class="uk-background-muted uk-padding-small uk-margin uk-margin-remove-last-child">
          {{#each this.intl.locales as |locale|}}
            <Form.input
              @label={{t "components.identity-emails.form.label.description" lang=(uppercase locale)}}
              @name="_description.{{locale}}"
              @required={{false}}
            />
          {{/each}}
        </div>
      {{else}}
        <Form.input
          @label={{t "components.identity-emails.form.label.description" lang=(uppercase this.intl.primaryLocale)}}
          @name="_description.{{this.intl.primaryLocale}}"
          @required={{false}}
        />
      {{/if}}

      <p class="uk-text-right">
        <button
          class="uk-button uk-button-default"
          type="button"
          {{on "click" this.cancel}}
        >
          {{t "global.cancel"}}
        </button>

        <Form.submit
          @label={{t "global.save"}}
        />
      </p>
    </ValidatedForm>
  {{/if}}
</div>
