{{#if @value.isReady}}
  <span class="uk-padding-remove-horizontal uk-text-center {{this.highlightClasses}}"></span>
{{/if}}
{{#if @value.document}}
  <LinkTo
    @route="cases.detail.work-items.edit.form"
    @models={{array @value.case.id @value.id}}
    class="uk-text-bold uk-text-primary"
  >
    {{@value.name}}
  </LinkTo>
{{else}}
  {{@value.name}}
{{/if}}
