<div class="uk-margin-remove-last-child">
  <h2>{{t "components.identity-members.title"}}</h2>

  {{#if this.membersResource.isPending}}
    <LoadingSpinner />
  {{else}}
    <ul class="uk-list uk-list-divider">
      {{#each this.members as |member|}}
        <li
          class="uk-flex uk-flex-between uk-flex-middle
            {{if member.inactive 'text-strike-through'}}"
        >
          <div>
            {{#if @hideIdentityLink}}
              <span class="uk-text-bold">{{member.fullName}}</span>
            {{else}}
              <LinkTo
                @route="identities.edit"
                @model={{member.id}}
                class="uk-text-bold"
              >
                {{member.fullName}}
              </LinkTo>
            {{/if}}

            <div class="uk-text-meta">
              {{#each member.roleMemberships as |membership|}}
                <span class={{if membership.inactive "text-strike-through"}}>
                  {{get membership.role this.locale}}
                </span>
              {{/each}}
            </div>
          </div>
        </li>
      {{else}}
        <p>{{t "components.identity-members.list.empty"}}</p>
      {{/each}}
      {{#if this.hasNextPage}}
        <li class="uk-text-center">
          <UkButton
            @onClick={{this.loadMoreMembers}}
            @color="link"
            @label={{t "global.loadMore"}}
          />
        </li>
      {{/if}}
    </ul>
  {{/if}}
</div>