<nav
  class="nav-bar uk-navbar-container uk-navbar-transparent uk-padding-small uk-padding-remove-top uk-padding-remove-bottom"
  uk-navbar
>
  <LinkTo
    @route="application"
    class="uk-navbar-item uk-logo uk-text-primary uk-padding-remove"
  >
    {{#if @logo}}
      <img class="nav-bar-logo" src={{@logo}} alt={{@text}} />
    {{else}}
      {{@text}}
    {{/if}}
  </LinkTo>

  <div class="uk-navbar-left uk-visible@l uk-margin-left">
    <ul class="uk-navbar-nav uk-text-uppercase">
      {{#if (can "list work-item")}}
        <li>
          <LinkTo @route="work-items" @activeClass="uk-active">
            {{t "components.nav-bar.tasks"}}
          </LinkTo>
        </li>
      {{/if}}
      <li>
        <LinkTo @route="cases" @activeClass="uk-active">
          {{t "components.nav-bar.documents"}}
        </LinkTo>
      </li>

      {{#if (can "list snippet")}}
        <li>
          <LinkTo @route="snippets" @activeClass="uk-active">
            {{t "components.nav-bar.snippets"}}
          </LinkTo>
        </li>
      {{/if}}

      {{#if
        (or
          (can "list identity")
          (can "list interests")
          (can "list membership-role")
        )
      }}
        <li id="nav-identity-management">
          <a href="#">
            {{t "components.nav-bar.identity-management"}}
            <span uk-icon="chevron-down"></span>
          </a>
          <div class="uk-navbar-dropdown uk-margin-remove">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              {{#if (can "list identity")}}
                <li>
                  <LinkTo @route="identities">
                    {{t "components.nav-bar.identities"}}
                  </LinkTo>
                </li>
              {{/if}}
              {{#if (can "list interest")}}
                <li>
                  <LinkTo @route="interests">
                    {{t "components.nav-bar.interests"}}
                  </LinkTo>
                </li>
              {{/if}}
              {{#if (can "list membership-role")}}
                <li>
                  <LinkTo @route="membership-roles">
                    {{t "components.nav-bar.roles"}}
                  </LinkTo>
                </li>
              {{/if}}
            </ul>
          </div>
        </li>
      {{/if}}
      {{#if (can "list form-builder")}}
        <li>
          <a href="#">
            {{t "components.nav-bar.form-management"}}
            <span uk-icon="chevron-down"></span>
          </a>
          <div class="uk-navbar-dropdown uk-margin-remove">
            <ul class="uk-nav uk-dropdown-nav">
              {{#if (can "list form-builder")}}
                <li>
                  <LinkTo @route="form-builder">
                    {{t "components.nav-bar.form-builder"}}
                  </LinkTo>
                </li>
                <li>
                  <LinkTo @route="form.configuration">
                    {{t "components.nav-bar.form-configuration"}}
                  </LinkTo>
                </li>
                <li>
                  <LinkTo @route="analytics">
                    {{t "components.nav-bar.analytics"}}
                  </LinkTo>
                </li>
              {{/if}}
            </ul>
          </div>
        </li>
      {{/if}}
    </ul>
  </div>

  <div class="uk-navbar-right uk-visible@l">
    <ul class="uk-navbar-nav">
      <li>
        <LinkTo @route="profile" @activeClass="uk-active">
          {{t "components.nav-bar.profile"}}
        </LinkTo>
      </li>
      {{#if this.session.isAuthenticated}}
        <li>
          <a
            class="uk-padding-remove"
            {{on "click" this.invalidateSession}}
            href="#"
          >
            {{t "components.nav-bar.logout"}}
          </a>
        </li>
      {{else}}
        <li>
          <LinkTo @route="login" class="uk-padding-remove">
            {{t "components.nav-bar.login"}}
          </LinkTo>
        </li>
      {{/if}}
      <li class="language-select">
        <a class="uk-link-reset" href="#">
          {{this.intl.primaryLocale}}
          <UkIcon @icon="chevron-down" />
        </a>
        <ul
          uk-dropdown="offset: -30"
          class="uk-list uk-list-collapse uk-padding-small uk-text-center uk-margin-remove"
        >
          {{#each this.locales as |locale|}}
            <li class="uk-margin-small">
              <a
                class="uk-link-text uk-text-uppercase
                  {{if (eq this.intl.primaryLocale locale) 'uk-text-primary'}}"
                {{on "click" (fn this.setLocale locale)}}
                href="#"
              >
                {{locale}}
              </a>
            </li>
          {{/each}}
        </ul>
      </li>
      {{#if (and (can "list snippet") this.session.isAuthenticated)}}
        <li class="uk-flex uk-flex-middle">
          <button
            class="uk-icon-button uk-button-default"
            type="button"
            uk-toggle="target: #offcanvas-snippets"
            uk-icon="file-text"
            data-test-snippet-sidebar-button
          ></button>
        </li>
      {{/if}}
    </ul>
  </div>

  <div class="uk-navbar-right uk-hidden@l">
    <button
      class="uk-icon-button uk-button-default uk-margin-small-right"
      type="button"
      uk-toggle="target: #offcanvas-nav"
      uk-icon="menu"
    ></button>
    {{#if (can "list snippet")}}
      <button
        class="uk-icon-button uk-button-default"
        type="button"
        uk-toggle="target: #offcanvas-snippets"
        uk-icon="file-text"
      ></button>
    {{/if}}
  </div>
</nav>

<div id="offcanvas-nav" uk-offcanvas="flip: true; overlay: true">
  <div class="uk-offcanvas-bar uk-flex uk-flex-column">
    <button class="uk-offcanvas-close" type="button" uk-close></button>

    <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
      {{#if (can "list work-item")}}
        <li>
          <LinkTo @route="work-items" uk-toggle="target: #offcanvas-nav">
            {{t "components.nav-bar.tasks"}}
          </LinkTo>
        </li>
      {{/if}}
      <li>
        <LinkTo @route="cases" uk-toggle="target: #offcanvas-nav">
          {{t "components.nav-bar.documents"}}
        </LinkTo>
      </li>

      {{#if (can "list identity")}}
        <li class="uk-nav-header">{{t "components.nav-bar.admin"}}</li>
        <li>
          <LinkTo @route="identities" uk-toggle="target: #offcanvas-nav">
            {{t "components.nav-bar.identities"}}
          </LinkTo>
        </li>
      {{/if}}
      {{#if (can "list interest")}}
        <li>
          <LinkTo @route="interests" uk-toggle="target: #offcanvas-nav">
            {{t "components.nav-bar.interests"}}
          </LinkTo>
        </li>
      {{/if}}
      {{#if (can "list membership-role")}}
        <li>
          <LinkTo @route="membership-roles" uk-toggle="target: #offcanvas-nav">
            {{t "components.nav-bar.roles"}}
          </LinkTo>
        </li>
      {{/if}}
      {{#if (can "list snippet")}}
        <li>
          <LinkTo @route="snippets" uk-toggle="target: #offcanvas-nav">
            {{t "components.nav-bar.snippets"}}
          </LinkTo>
        </li>
      {{/if}}
      {{#if (can "list form-builder")}}
        <li>
          <LinkTo @route="form-builder" uk-toggle="target: #offcanvas-nav">
            {{t "components.nav-bar.form-builder"}}
          </LinkTo>
        </li>
        <li>
          <LinkTo
            @route="form.configuration"
            uk-toggle="target: #offcanvas-nav"
          >
            {{t "components.nav-bar.form-configuration"}}
          </LinkTo>
        </li>
        <li>
          <LinkTo @route="analytics">
            {{t "components.nav-bar.analytics"}}
          </LinkTo>
        </li>
      {{/if}}

      <li class="uk-nav-header">{{t "components.nav-bar.account"}}</li>
      <li>
        <LinkTo @route="profile" uk-toggle="target: #offcanvas-nav">
          {{t "components.nav-bar.profile"}}
        </LinkTo>
      </li>
      <li>
        <a
          href="#"
          {{on "click" this.invalidateSession}}
          uk-toggle="target: #offcanvas-nav"
        >
          <span class="uk-margin-small-right" uk-icon="icon: sign-out"></span>
          {{t "components.nav-bar.logout"}}
        </a>
      </li>

      <li class="language-select-offcanvas">
        <a class="uk-link-reset uk-text-uppercase" href="#" data-test-locale>
          {{this.intl.primaryLocale}}
          <UkIcon @icon="chevron-down" />
        </a>
        <ul
          uk-dropdown="pos: bottom-center; mode: click;"
          class="uk-list uk-list-collapse uk-padding-small uk-width-1-2"
          data-test-locale-dropdown
        >
          {{#each this.locales as |locale|}}
            <li>
              <a
                class="uk-link-text uk-text-uppercase
                  {{if (eq this.intl.primaryLocale locale) 'uk-text-primary'}}"
                {{on "click" (fn this.setLocale locale)}}
                href="#"
                data-test-locale-select={{locale}}
              >
                {{locale}}
              </a>
            </li>
          {{/each}}
        </ul>
      </li>
    </ul>
  </div>
</div>

<div id="offcanvas-snippets" uk-offcanvas="flip: true; overlay: true">
  <div class="uk-offcanvas-bar uk-flex uk-flex-column">
    <button class="uk-offcanvas-close" type="button" uk-close></button>

    <h3>{{t "components.nav-bar.snippets"}}</h3>

    <div class="uk-margin">
      <label class="uk-form-label" for="form-search">
        {{t "snippets.index.search"}}
      </label>
      <input
        class="uk-input"
        id="form-search"
        type="search"
        value={{this.searchTerm}}
        {{on "input" (perform this.search)}}
      />
    </div>

    {{#if this._snippets.isRunning}}
      <LoadingSpinner />
    {{else}}
      <ul uk-accordion="multiple: true" data-test-snippet-sidebar-list>
        {{#each this.snippets as |snippet|}}
          <li class="uk-margin">
            <a class="uk-accordion-title" href="#">{{snippet.title}}</a>
            <div class="uk-accordion-content">
              {{#each this.intl.locales as |locale|}}
                <textarea
                  id="snippet-{{snippet.id}}-{{locale}}"
                  class="uk-textarea"
                  readonly=""
                >{{get snippet._body locale}}</textarea>
                <CopyButton
                  @target="#snippet-{{snippet.id}}-{{locale}}"
                  @onSuccess={{this.onCopySuccess}}
                  @onError={{this.onCopyError}}
                  class="uk-button uk-width-1-1 uk-button-default uk-margin"
                >
                  {{t "components.nav-bar.snippet.hint" lang=locale}}
                </CopyButton>
              {{/each}}
            </div>
          </li>
        {{else}}
          <p>{{t "snippets.index.empty"}}</p>
        {{/each}}
        {{#if (not-eq this.pageNumber this.totalPages)}}
          <a {{on "click" this.loadMoreSnippets}} href="#">
            {{t "components.nav-bar.snippet.load-more"}}
          </a>
        {{/if}}
      </ul>
    {{/if}}
  </div>
</div>