<div
  {{did-insert this.onUpdate}}
  {{did-update this.onUpdate @identity}}
  class="uk-margin-remove-last-child"
>
  <h2>{{t "components.identity-interests.title"}}</h2>

  {{#if this.fetchInterests.isRunning}}
    <LoadingSpinner />
  {{else}}
    <ul class="uk-list uk-list-divider">
      {{#each this.categories as |category|}}
        <li>
          <strong>{{category.title}}</strong>

          <ul class="uk-padding-remove uk-list">
            {{#each category.interests as |interest|}}
              <li class="uk-flex uk-flex-between uk-flex-middle">
                <div>{{interest.title}}</div>

                {{#if (can "remove interest from identity" @identity)}}
                  <div>
                    <button
                      class="uk-icon-button uk-button-default"
                      type="button"
                      disabled={{or this.changeset this.delete.isRunning}}
                      uk-icon="close"
                      title={{t "components.identity-interests.list.delete"}}
                      {{on "click" (perform this.delete interest)}}
                    ></button>
                  </div>
                {{/if}}
              </li>
            {{/each}}
          </ul>
        </li>
      {{else}}
        <li>{{t "components.identity-interests.list.empty"}}</li>
      {{/each}}
    </ul>

    {{#if (and (can "add interest to identity" @identity) (not @readOnlyView))}}
      <p class="uk-text-right">
        <button
          class="uk-button uk-button-default"
          type="button"
          disabled={{this.changeset}}
          {{on "click" (fn this.edit null)}}
        >
          {{t "components.identity-interests.add"}}
        </button>
      </p>
    {{/if}}
  {{/if}}

  {{#if this.changeset}}
    <hr>

    <h3 class="uk-margin-remove-top">
      {{t "components.identity-interests.form.title.add"}}
    </h3>

    <ValidatedForm
      @model={{this.changeset}}
      @on-submit={{perform this.submit}}
      class="uk-margin-remove-last-child"
      as |Form|
    >
      <div class="uk-margin">
        <Form.input
          @label={{t "components.identity-interests.form.label.interest"}}
          @name="interest"
          as |field|
        >
          <PowerSelect
            @searchEnabled={{true}}
            @searchField="title"
            @options={{this.interestCategories}}
            @selected={{field.value}}
            @onChange={{field.update}}
            @onFocus={{this.openPowerSelect}}
            @triggerClass="uk-select"
            as |opt|
          >
            {{opt.title}}
          </PowerSelect>
        </Form.input>
      </div>

      <p class="uk-text-right">
        <button
          class="uk-button uk-button-default"
          type="button"
          {{on "click" this.cancel}}
        >
          {{t "global.cancel"}}
        </button>

        <Form.submit
          @label={{t "global.save"}}
        />
      </p>
    </ValidatedForm>
  {{/if}}
</div>