<h3>{{@model.workItem.name}}</h3>

<CfContent
  @documentId={{@model.workItem.document.id}}
  @disabled={{not @model.workItem.canEdit}}
  as |content|
>
  <DocumentValidity
    @document={{content.document}}
    @validateOnEnter={{false}}
    as |isValid validate|
  >
    {{content.form}}

    {{#if @model.workItem.canComplete}}
      <WorkItemButton
        @mutation="complete"
        @workItemId={{@model.workItemToComplete.id}}
        @type="submit"
        @color="primary"
        @label={{t "work-items.actions.finish"}}
        @beforeMutate={{validate}}
        @onSuccess={{this.transitionToCaseWorkItems}}
      />
    {{/if}}
    {{#if @model.workItem.canSkip}}
      <WorkItemButton
        @mutation="skip"
        @workItemId={{@model.workItem.id}}
        @type="submit"
        @label={{t "work-items.actions.skip"}}
        @beforeMutate={{validate}}
        @onSuccess={{this.transitionToCaseWorkItems}}
      />
    {{/if}}
  </DocumentValidity>
</CfContent>
