<div
  {{did-insert (perform this.fetchMembers)}}
  class="uk-margin-remove-last-child"
>
  <h2>{{t "components.identity-members.title"}}</h2>

  {{#if this.fetchMembers.isRunning}}
    <LoadingSpinner />
  {{else}}
    <ul class="uk-list uk-list-divider">
      {{#each this.members as |member|}}
        <li class="uk-flex uk-flex-between uk-flex-middle {{if member.inactive "text-strike-through"}}">
          <div>
            {{#if @hideIdentityLink}}
              <span class="uk-text-bold">{{member.identity.fullName}}</span>
            {{else}}
              <LinkTo
                @route="identities.edit"
                @model={{member.identity.id}}
                class="uk-text-bold"
              >
                {{member.identity.fullName}}
              </LinkTo>
            {{/if}}

            <div class="uk-text-meta">
              {{#each member.roles as |role|}}
                <span class={{if role.inactive "text-strike-through"}}>
                  {{role.title}}
                </span>
              {{/each}}
            </div>
          </div>
        </li>
      {{else}}
        <p>{{t "components.identity-members.list.empty"}}</p>
      {{/each}}
      {{#if this.hasNextPage}}
        <li class="uk-text-center">
          <UkButton
            @on-click={{this.loadMoreMembers}}
            @color="link"
            @label={{t "global.loadMore"}}
          />
        </li>
      {{/if}}
    </ul>
  {{/if}}
</div>