<div
  {{did-insert this.onUpdate}}
  {{did-update this.onUpdate @identity}}
>
  <h2>{{t "component.identity-phone-numbers.title"}}</h2>

  {{#if this.fetchEmails.isRunning}}
    <LoadingSpinner />
  {{else}}
    {{#if this.phoneNumbers.length}}
      <ul
        class="uk-list uk-list-divider"
        data-test-phone-list
      >
        {{#each this.phoneNumbers as |phoneNumber|}}
          <li
            class="uk-flex uk-flex-between uk-flex-middle"
            data-test-phone-item
          >
            <div>
              {{#if phoneNumber.default}}
                <strong>{{phoneNumber.phone}}</strong>
              {{else}}
                {{phoneNumber.phone}}
              {{/if}}

              {{#if phoneNumber.description}}
                <div class="uk-text-meta">
                  {{phoneNumber.description}}
                </div>
              {{/if}}
            </div>

            <div>
              <a
                class="uk-icon-button uk-button-default uk-margin-right"
                uk-icon="receiver"
                href="tel:{{phoneNumber.phone}}"
              ></a>

              <button
                class="uk-icon-button uk-button-default"
                type="button"
                disabled={{this.editItem}}
                uk-icon="pencil"
                title={{t "component.identity-phone-numbers.list.edit"}}
                {{on "click" (fn this.edit phoneNumber)}}
              ></button>

              <button
                class="uk-icon-button uk-button-default"
                type="button"
                disabled={{or this.editItem this.delete.isRunning}}
                uk-icon="close"
                title={{t "component.identity-phone-numbers.list.delete"}}
                {{on "click" (perform this.delete phoneNumber)}}
              ></button>
            </div>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p>{{t "component.identity-phone-numbers.list.empty"}}</p>
    {{/if}}

    <p class="uk-text-right">
      <button
        class="uk-button uk-button-default"
        type="button"
        disabled={{this.editItem}}
        data-test-phone-add
        {{on "click" (fn this.edit null)}}
      >{{t "component.identity-phone-numbers.add"}}</button>
    </p>
  {{/if}}

  {{#if this.editItem}}
    <h3 class="uk-margin-remove-top">
      {{if this.editItem.isNew
        (t "component.identity-phone-numbers.form.title.add")
        (t "component.identity-phone-numbers.form.title.edit")
      }}
    </h3>

    <ValidatedForm
      @model={{changeset this.editItem this.validations}}
      @on-submit={{perform this.submit}}
      as |Form|
    >
      <Form.input
        @label={{t "component.identity-phone-numbers.form.label.phone"}}
        @name="phone"
      />

      <Form.input
        @label={{t "component.identity-phone-numbers.form.label.description"}}
        @name="description"
        @required={{false}}
      />

      <Form.input
        @label={{t "component.identity-phone-numbers.form.label.default"}}
        @type="checkbox"
        @name="default"
        @required={{false}}
      />

      <p class="uk-text-right">
        <button
          class="uk-button uk-button-default"
          type="button"
          {{on "click" this.cancel}}
        >
          {{t "component.identity-phone-numbers.form.control.cancel"}}
        </button>

        <Form.submit
          @label={{t "component.identity-phone-numbers.form.control.submit"}}
        />
      </p>
    </ValidatedForm>
  {{/if}}
</div>
