<div
  {{did-insert this.onUpdate}}
  {{did-update this.onUpdate}}
>
  <h1>{{t "page.interests.index.title"}}</h1>

  {{#if this.fetchInterests.isRunning}}
    <LoadingSpinner />
  {{else if this.categories.length}}
    <div
      class="
        uk-child-width-1-2@s
        uk-child-width-1-3@m
        uk-child-width-1-4@l
      "
      uk-grid="masonry: true"
    >
      {{#each this.categories as |category|}}
        <div>
          <div class="uk-card uk-card-default uk-card-body uk-card-small">
            <div class="uk-flex uk-flex-between uk-flex-middle">
              <div>
                <strong>{{category.title}}</strong>
                {{#if category.description}}
                  <div>{{category.description}}</div>
                {{/if}}
              </div>

              <div class="uk-flex-none">
                <LinkTo
                  class="uk-icon-button uk-button-default"
                  uk-icon="pencil"
                  title={{t "page.interests.index.list.edit"}}
                  @route="interests.edit"
                  @model={{category.id}}
                  data-test-category-edit
                ></LinkTo>

                <button
                  class="uk-icon-button uk-button-default"
                  type="button"
                  uk-icon="close"
                  title={{t "page.interests.index.list.delete"}}
                  disabled={{or this.delete.isRunning}}
                  {{on "click" (perform this.delete category)}}
                  data-test-category-delete
                ></button>
              </div>
            </div>

            {{#if category.interests.length}}
            <ul class="uk-list uk-list-divider">
              {{#each category.interests as |interest|}}
                {{#unless interest.isNew}}
                  <li>
                    {{interest.title}}
                    <div class="uk-text-meta">{{interest.description}}</div>
                  </li>
                {{/unless}}
              {{/each}}
            </ul>
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
    <p>{{t "page.interests.index.list.empty"}}</p>
  {{/if}}

  <p class="uk-text-right">
    <LinkTo
      @route="interests.add"
      class="uk-button uk-button-default"
    >
      {{t "page.interests.index.add"}}
    </LinkTo>
  </p>
</div>
