<div
  {{did-insert this.onUpdate}}
  {{did-update this.onUpdate this.pageNumber}}
>
  <h1>{{t "page.identities.index.title"}}</h1>

  <div class="uk-margin">
    <label class="uk-form-label" for="form-search">
      {{t "page.identities.index.search"}}
    </label>
    <input
      class="uk-input"
      id="form-search"
      {{on "input" (perform this.search)}}
    >
  </div>

  {{#if this.fetchIdentities.isRunning}}
    <LoadingSpinner />
  {{else}}
    <ul class="uk-list uk-list-divider">
      {{#each this.identities as |identity|}}
        {{#unless identity.isNew}}
          <li>
            <LinkTo
              @route="identities.edit"
              @model={{identity.id}}
              class="uk-text-bold"
            >
              {{if identity.isOrganisation
                identity.organisationName
                identity.fullName
              }}
            </LinkTo>
          </li>
        {{/unless}}
      {{/each}}
    </ul>
  {{/if}}

  {{#if (and this.totalPages (not this.fetchIdentities.isRunning))}}
    <ul class="uk-pagination uk-flex-center">
      <li class={{if (eq this.pageNumber 1) "uk-disabled"}}>
        <LinkTo @query={{hash pageNumber=(sub this.pageNumber 1)}}>
          <span uk-pagination-previous></span>
        </LinkTo>
      </li>
      {{#each this.pages as |page|}}
        <li class={{if page.active "uk-active"}}>
          <LinkTo @query={{hash pageNumber=page.number}}>
            {{page.number}}
          </LinkTo>
        </li>
      {{/each}}
      <li class={{if (eq this.pageNumber this.totalPages) "uk-disabled"}}>
        <LinkTo @query={{hash pageNumber=(add this.pageNumber 1)}}>
          <span uk-pagination-next></span>
        </LinkTo>
      </li>
    </ul>
  {{/if}}

  <p class="uk-text-right">
    <LinkTo
      @route="identities.add"
      class="uk-button uk-button-default"
    >
      {{t "page.identities.index.add"}}
    </LinkTo>
  </p>
</div>
