<div
  {{did-insert this.onUpdate}}
  {{did-update this.onUpdate this.pageNumber}}
>
  <div class="uk-flex uk-flex-between uk-flex-middle uk-margin-bottom">
    <h1 class="uk-margin-remove">{{t "page.identities.index.title"}}</h1>

    <div class="uk-flex-none">
      <button
        type="button"
        class="uk-button uk-button-primary"
        disabled={{this.exportSearch.isRunning}}
        {{on "click" (perform this.exportSearch)}}
      >
        {{t "page.identities.index.export.button"}}
      </button>

      <LinkTo
        @route="identities.add"
        class="uk-button uk-button-default"
      >
        {{t "page.identities.index.add"}}
      </LinkTo>
    </div>
  </div>

  <div class="uk-margin">
    <label class="uk-form-label" for="form-search">
      {{t "page.identities.index.search"}}
    </label>
    <input
      class="uk-input"
      id="form-search"
      type="search"
      value={{this.searchTerm}}
      {{on "input" (perform this.search)}}
    >
  </div>

  {{#if this.fetchIdentities.isRunning}}
    <LoadingSpinner />
  {{else}}
    <ul class="uk-list uk-list-divider">
      {{#each this.identities as |identity|}}
        {{#unless identity.isNew}}
          <li>
            <LinkTo
              @route="identities.edit"
              @model={{identity.id}}
              class="uk-text-bold uk-flex uk-flex-between uk-flex-wrap"
            >
              {{#if (or identity.fullName identity.isOrganisation)}}
                <div class="uk-margin-right">
                  {{#if identity.salutation}}
                    {{t (concat "global.salutation." identity.salutation)}}
                  {{/if}}

                  {{#if identity.fullName}}
                    {{identity.fullName}}
                  {{~/if}}

                  {{~if (and identity.fullName identity.isOrganisation) ","}}

                  {{#if identity.isOrganisation}}
                    {{identity.organisationName}}
                  {{/if}}
                </div>
              {{/if}}

              <div class="uk-text-small uk-width-1-1 uk-width-auto@s">
                {{identity.email}}
              </div>
            </LinkTo>
          </li>
        {{/unless}}
      {{/each}}
    </ul>
  {{/if}}

  {{#if (and this.totalPages (not this.fetchIdentities.isRunning))}}
    <ul class="uk-pagination uk-flex-center">
      <li class={{if (eq this.pageNumber 1) "uk-disabled"}}>
        <LinkTo @query={{hash pageNumber=(sub this.pageNumber 1)}}>
          <span uk-pagination-previous></span>
        </LinkTo>
      </li>
      {{#each this.pages as |page|}}
        <li class={{if page.active "uk-active"}}>
          <LinkTo @query={{hash pageNumber=page.number}}>
            {{page.number}}
          </LinkTo>
        </li>
      {{/each}}
      <li class={{if (eq this.pageNumber this.totalPages) "uk-disabled"}}>
        <LinkTo @query={{hash pageNumber=(add this.pageNumber 1)}}>
          <span uk-pagination-next></span>
        </LinkTo>
      </li>
    </ul>
  {{/if}}
</div>
