<div
  {{did-insert this.onUpdate}}
  {{did-update this.onUpdate @identity}}
  class="uk-margin-remove-last-child"
>
  <h2>{{t "components.identity-addresses.title"}}</h2>

  {{#if this.fetchAddresses.isRunning}}
    <LoadingSpinner />
  {{else}}
    {{#if this.addresses.length}}
      <ul
        class="uk-list uk-list-divider"
        data-test-address-list
      >
        {{#each this.addresses as |address|}}
          <li
            class="uk-flex uk-flex-between uk-flex-middle"
            data-test-address-item
          >
            <div>
              {{#if address.default}}
                <strong>{{address.label}}</strong>
              {{else}}
                {{address.label}}
              {{/if}}

              {{#if address.description}}
                <div class="uk-text-meta">
                  {{address.description}}
                </div>
              {{/if}}
            </div>

            <div class="uk-flex uk-flex-between">
              {{#if (can "delete address" address)}}
                <button
                  class="uk-icon-button uk-button-default"
                  type="button"
                  uk-icon="pencil"
                  disabled={{this.changeset}}
                  title={{t "components.identity-addresses.list.edit"}}
                  {{on "click" (fn this.edit address)}}
                ></button>
              {{/if}}

              {{#if (can "edit address" address)}}
                <button
                  class="uk-icon-button uk-button-default"
                  type="button"
                  uk-icon="close"
                  disabled={{or
                    this.changeset
                    this.delete.isRunning
                    (and address.default (gt this.addresses.length 1))
                  }}
                  title={{t "components.identity-addresses.list.delete"}}
                  {{on "click" (perform this.delete address)}}
                ></button>
              {{/if}}
            </div>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p>{{t "components.identity-addresses.list.empty"}}</p>
    {{/if}}

    {{#if (can "add address")}}
      <p class="uk-text-right">
        <button
          class="uk-button uk-button-default"
          type="button"
          disabled={{this.changeset}}
          {{on "click" (fn this.edit null)}}
          data-test-address-add
        >
          {{t "components.identity-addresses.add"}}
        </button>
      </p>
    {{/if}}
  {{/if}}

  {{#if this.changeset}}
    <hr>

    <h3 class="uk-margin-remove-top">
      {{if this.changeset.isNew
        (t "components.identity-addresses.form.title.add")
        (t "components.identity-addresses.form.title.edit")
      }}
    </h3>

    <ValidatedForm
      @model={{this.changeset}}
      @on-submit={{perform this.submit}}
      class="uk-margin-remove-last-child"
      as |Form|
    >
      <Form.input
        @label={{t "components.identity-addresses.form.label.addressAddition1"}}
        @name="addressAddition1"
      />

      <Form.input
        @label={{t "components.identity-addresses.form.label.addressAddition2"}}
        @name="addressAddition2"
      />

      <Form.input
        @label={{t "components.identity-addresses.form.label.addressAddition3"}}
        @name="addressAddition3"
      />

      <Form.input
        @label={{t "components.identity-addresses.form.label.streetAndNumber"}}
        @name="streetAndNumber"
      />

      <Form.input
        @label={{t "components.identity-addresses.form.label.poBox"}}
        @name="poBox"
      />

      <Form.input
        @label={{t "components.identity-addresses.form.label.postcode"}}
        @name="postcode"
      />

      <Form.input
        @label={{t "components.identity-addresses.form.label.town"}}
        @name="town"
      />

      <Form.input
        @type="select"
        @label={{t "components.identity-addresses.form.label.country"}}
        @name="country"
        @options={{this.countries}}
        @optionLabelPath="name"
        @optionTargetPath="code"
      />

      {{#if (can "show multi-lang-description address")}}
        <div class="uk-background-muted uk-padding-small uk-margin uk-margin-remove-last-child">
          {{#each this.intl.locales as |locale|}}
            <Form.input
              @label={{t "components.identity-addresses.form.label.description" lang=(uppercase locale)}}
              @name="descriptionObject.{{locale}}"
              @required={{false}}
            />
          {{/each}}
        </div>
      {{else}}
        <Form.input
          @label={{t "components.identity-addresses.form.label.description" lang=(uppercase this.intl.locale.firstObject)}}
          @name="descriptionObject.{{this.intl.locale.firstObject}}"
          @required={{false}}
        />
      {{/if}}

      <Form.input
        @label={{t "components.identity-addresses.form.label.default"}}
        @type="checkbox"
        @name="default"
        @required={{false}}
        @disabled={{this.changeset.data.default}}
      />

      <p class="uk-text-right">
        <button
          class="uk-button uk-button-default"
          type="button"
          {{on "click" this.cancel}}
        >
          {{t "global.cancel"}}
        </button>

        <Form.submit
          @label={{t "global.save"}}
        />
      </p>
    </ValidatedForm>
  {{/if}}
</div>
