<DocumentValidity
  @document={{@field.document}}
  @validateOnEnter={{false}}
  as |isValid validate|
>
  <div {{in-viewport onEnter=(perform this.fetchWorkItem)}}></div>
  {{#if this.fetchWorkItem.isRunning}}
    <LoadingSpinner />
  {{else}}
    <WorkItemButton
      @mutation="complete"
      @workItemId={{this.workItem.id}}
      @filters={{this.submitWorkItemFilters}}
      @label={{t "component.submit-button.title"}}
      @disabled={{not this.workItem}}
      @color="primary"
      @type="button"
      @beforeMutate={{validate}}
      @onSuccess={{this.transitionToCase}}
    />
  {{/if}}
</DocumentValidity>
