<div uk-grid class="uk-flex-between">
  <Filters as |Filter|>
    <Filter.Input
      @label={{t "work-items.filters.documentNumber"}}
      @value={{@filters.documentNumber}}
      @onChange={{perform @updateFilter "documentNumber"}}
    />
    <Filter.Input
      @label={{t "work-items.filters.answer"}}
      @value={{@filters.answerSearch}}
      @onChange={{perform @updateFilter "answerSearch"}}
    />

    {{#if (can "filter access case")}}
      <Filter.Identity
        @onChange={{perform @updateFilter "identities"}}
        @selectedIdentities={{@filters.selectedIdentities}}
      />
    {{/if}}
  </Filters>

  <div class="uk-flex filters-gap">
    <FilterModal
      @setFiltersAmount={{this.setFiltersAmount}}
      class="uk-width-auto"
    >
      <Filters
        @invertable={{true}}
        class="uk-grid-divider uk-grid-match uk-child-expand"
        uk-grid
        as |Filter|
      >
        <Filter.Input
          @label={{t "work-items.filters.documentNumber"}}
          @value={{@filters.documentNumber}}
          @onChange={{perform @updateFilter "documentNumber"}}
        />
        <Filter.Input
          @label={{t "work-items.filters.answer"}}
          @value={{@filters.answerSearch}}
          @onChange={{perform @updateFilter "answerSearch"}}
        />
        {{#if (can "filter access case")}}
          <Filter.Identity
            @selected={{@filter.identities}}
            @onChange={{perform @updateFilter "identities"}}
          />
        {{/if}}
        <Filter.Dropdown
          @label={{t "work-items.filters.forms"}}
          @selected={{@filters.forms}}
          @options={{this.forms.value}}
          @onChange={{perform @updateFilter "forms"}}
        />
        <Filter.Dropdown
          @label={{t "work-items.filters.expertAssociations"}}
          @selected={{@filters.expertAssociations}}
          @options={{this.expertAssociations}}
          @onChange={{perform @updateFilter "expertAssociations"}}
          @loading={{this.questionOptions.isLoading}}
        />
        <Filter.Dropdown
          @label={{t "work-items.filters.distributionPlans"}}
          @selected={{@filters.distributionPlans}}
          @options={{this.distributionPlans}}
          @onChange={{perform @updateFilter "distributionPlans"}}
          @loading={{this.questionOptions.isLoading}}
        />
        <Filter.Dropdown
          @label={{t "work-items.filters.sections"}}
          @selected={{@filters.sections}}
          @options={{this.sections}}
          @onChange={{perform @updateFilter "sections"}}
          @loading={{this.questionOptions.isLoading}}
        />
      </Filters>
    </FilterModal>

    <label class="uk-width-auto">
      <span class="uk-invisible">{{t "components.filters.reset"}}</span>
      <UkButton
        class="uk-display-block"
        uk-tooltip={{t "components.filters.reset"}}
        @onClick={{@resetFilters}}
      >
        <UkIcon @icon="refresh" />
      </UkButton>
    </label>
  </div>
</div>