<Filters class="uk-child-width-expand" as |Filter|>
  <Filter.RadioButtons
    class="uk-width-auto"
    @label={{t "work-items.filters.status"}}
    @selected={{@filters.status}}
    @options={{array
      (hash value="open" label=(t "work-items.filters.open"))
      (hash value="closed" label=(t "work-items.filters.closed"))
    }}
    @onChange={{perform @updateFilter "status"}}
  />
  <Filter.RadioButtons
    class="uk-width-auto"
    @label={{t "work-items.filters.responsible"}}
    @selected={{@filters.responsible}}
    @options={{array
      (hash value="all" label=(t "work-items.filters.all"))
      (hash value="own" label=(t "work-items.filters.own"))
    }}
    @onChange={{perform @updateFilter "responsible"}}
  />
  <Filter.Dropdown
    @label={{t "work-items.filters.taskTypes"}}
    @selected={{@filters.taskTypes}}
    @options={{this.taskTypes.value}}
    @invertedIcon={{@invertedFilters.taskTypes}}
    @onChange={{perform @updateFilter "taskTypes"}}
  />
  <Filter.Identity
    @selected={{@filters.identities}}
    @invertedIcon={{@invertedFilters.identities}}
    @onChange={{perform @updateFilter "identities"}}
  />
  <Filter.Input
    class="uk-width-small"
    @label={{t "work-items.filters.documentNumber"}}
    @value={{@filters.documentNumber}}
    @invertedIcon={{@invertedFilters.documentNumber}}
    @onChange={{perform @updateFilter "documentNumber"}}
  />
  <Filter.Input
    @label={{t "work-items.filters.answer"}}
    @value={{@filters.answerSearch}}
    @invertedIcon={{@invertedFilters.answerSearch}}
    @onChange={{perform @updateFilter "answerSearch"}}
  />

  <FilterModal
    @setFiltersAmount={{this.setFiltersAmount}}
    @resetFilters={{@resetFilters}}
    class="uk-width-auto"
  >
    <Filters
      class="uk-grid-match uk-flex-around uk-child-width-1-4@l uk-child-width-1-5@xl modal-filters"
      uk-grid
      as |Filter|
    >
      <Filter.RadioButtons
        @label={{t "work-items.filters.status"}}
        @selected={{@filters.status}}
        @options={{array
          (hash value="open" label=(t "work-items.filters.open"))
          (hash value="closed" label=(t "work-items.filters.closed"))
        }}
        @onChange={{perform @updateFilter "status"}}
      />
      <Filter.RadioButtons
        @label={{t "work-items.filters.responsible"}}
        @selected={{@filters.responsible}}
        @options={{array
          (hash value="all" label=(t "work-items.filters.all"))
          (hash value="own" label=(t "work-items.filters.own"))
        }}
        @onChange={{perform @updateFilter "responsible"}}
      />
      <Filter.Dropdown
        @label={{t "work-items.filters.taskTypes"}}
        @selected={{@filters.taskTypes}}
        @inverted={{@invertedFilters.taskTypes}}
        @options={{this.taskTypes.value}}
        @onChange={{perform @updateFilter "taskTypes"}}
        @invertFilter={{perform @invertFilter "taskTypes"}}
      />
      <Filter.Identity
        @selected={{@filters.identities}}
        @inverted={{@invertedFilters.identities}}
        @onChange={{perform @updateFilter "identities"}}
        @invertFilter={{perform @invertFilter "identities"}}
      />
      <Filter.Input
        @label={{t "work-items.filters.documentNumber"}}
        @inverted={{@invertedFilters.documentNumber}}
        @value={{@filters.documentNumber}}
        @onChange={{perform @updateFilter "documentNumber"}}
        @invertFilter={{perform @invertFilter "documentNumber"}}
      />
      <Filter.Input
        @label={{t "work-items.filters.answer"}}
        @value={{@filters.answerSearch}}
        @inverted={{@invertedFilters.answerSearch}}
        @onChange={{perform @updateFilter "answerSearch"}}
        {{!-- inversion not supported for now
        @invertFilter={{perform @invertFilter "answerSearch"}}
        --}}
      />
      {{!-- filter not supported for now
      <Filter.Dropdown
        @label={{t "work-items.filters.forms"}}
        @selected={{@filters.forms}}
        @inverted={{@invertedFilters.documenformstNumber}}
        @options={{this.forms.value}}
        @onChange={{perform @updateFilter "forms"}}
        @invertFilter={{perform @invertFilter "forms"}}
      />
      --}}
      <Filter.Dropdown
        @label={{t "work-items.filters.expertAssociations"}}
        @selected={{@filters.expertAssociations}}
        @inverted={{@invertedFilters.expertAssociations}}
        @options={{this.expertAssociations}}
        @onChange={{perform @updateFilter "expertAssociations"}}
        @invertFilter={{perform @invertFilter "expertAssociations"}}
      />
      <Filter.Dropdown
        @label={{t "work-items.filters.distributionPlans"}}
        @selected={{@filters.distributionPlans}}
        @inverted={{@invertedFilters.distributionPlans}}
        @options={{this.distributionPlans}}
        @onChange={{perform @updateFilter "distributionPlans"}}
        @invertFilter={{perform @invertFilter "distributionPlans"}}
      />
      <Filter.Dropdown
        @label={{t "work-items.filters.sections"}}
        @selected={{@filters.sections}}
        @inverted={{@invertedFilters.sections}}
        @options={{this.sections}}
        @onChange={{perform @updateFilter "sections"}}
        @loading={{this.questionOptions.isLoading}}
        @invertFilter={{perform @invertFilter "sections"}}
      />
    </Filters>
  </FilterModal>

  {{#if this.setFiltersAmount}}
    <label class="uk-width-auto">
      <span class="uk-invisible">{{t "components.filters.resetShort"}}</span>
      <UkButton
        class="uk-display-block uk-button-danger"
        uk-tooltip={{t "components.filters.reset"}}
        @onClick={{@resetFilters}}
      >
        <UkIcon @icon="close" />
      </UkButton>
    </label>
  {{/if}}
</Filters>