<div ...attributes>
  <label class="uk-display-block">
    {{@label}}
    <PowerSelectMultiple
      @options={{@options}}
      @selected={{this.selected}}
      @onChange={{this.setSelection}}
      @onInput={{@onInput}}
      @searchEnabled={{true}}
      @searchField="label"
      @renderInPlace={{true}}
      @loadingMessage={{t "components.filters.dropdown.loading"}}
      @searchMessage={{t "components.filters.dropdown.search"}}
      @noMatchesMessage={{t "components.filters.dropdown.empty"}}
      as |option|
    >
      {{option.label}}
    </PowerSelectMultiple>
  </label>
</div>
