<DynamicTable
  @loading={{or @query.isLoading @loading}}
  @data={{@query.value}}
  @config={{this.dynamicTableConfig}}
  @loadMoreData={{this.fetchMoreCases}}
  @hasNextPage={{@query.hasNextPage}}
  @setOrder={{@setOrder}}
/>
<div class="uk-width-expand uk-flex uk-flex-middle uk-text-meta">
  <span>
    {{
      t
      "global.paginationInfo"
      count=@query.value.length
      total=@query.totalCount
      htmlSafe=true
    }}
  </span>
</div>
