<h1 class="uk-flex uk-flex-between">
  {{t "documents.title"}}

  <div class="uk-flex">
    {{#if (can "bulk edit case")}}
      <div>
        {{#if this.editMode}}
          <CaseTransfer
            @cases={{this.selectedCases}}
            @toRemove={{this.accessToRemove}}
            @afterTransfer={{this.afterTransfer}}
          />
          <UkButton @onClick={{fn (mut this.editMode) false}} @color="danger">
            {{t "global.cancel"}}
          </UkButton>
        {{else}}
          <UkButton @onClick={{fn (mut this.editMode) true}}>
            {{t "documents.bulkEdit.title"}}
          </UkButton>
        {{/if}}
      </div>
    {{/if}}

    <div
      class="case-list-action-divider uk-divider-vertical uk-margin-left uk-margin-right uk-margin-remove-top uk-margin-remove-bottom"
    ></div>

    <div>
      <LinkTo @route="cases.new" class="uk-button uk-button-primary">
        {{t "documents.new.title"}}
      </LinkTo>
    </div>
  </div>
</h1>

<hr />

{{#if this.showEmpty.isResolved}}
  {{#if this.showEmpty.value}}
    <div class="uk-width-2-3 uk-margin-auto">
      <h1 class="uk-text-center">
        {{t "documents.empty.welcome" appName="mySAGW"}}
      </h1>

      <p
        class="uk-text-center uk-text-large uk-margin-large-top uk-margin-medium-bottom"
      >
        {{t "documents.empty.no-documents"}}
      </p>

      <div class="uk-flex uk-flex-center">
        <div
          class="uk-flex uk-flex-middle uk-margin-small-left uk-margin-small-right"
        >
          <LinkTo
            @route="cases.new"
            class="uk-button uk-button-default uk-width-medium uk-height-medium uk-flex uk-flex-middle uk-flex-center uk-flex-column"
          >
            <UkIcon @icon="plus" @ratio="3" class="uk-margin" />
            {{t "documents.new.title"}}
          </LinkTo>
        </div>
      </div>
    </div>
  {{else}}
    <CaseFilters
      @filters={{this.filters}}
      @invertedFilters={{this.invertedFilters}}
      @updateFilter={{this.updateFilter}}
      @resetFilters={{this.resetFilters}}
      @invertFilter={{this.invertFilter}}
    />

    {{#if this.caseFilters.isResolved}}
      <CasesTable
        @query={{this.caseQuery}}
        @setOrder={{fn (mut this.order)}}
        @order={{this.order}}
        @editMode={{this.editMode}}
        @selectRow={{this.selectCase}}
        @selectedCases={{this.selectedCases}}
      />
    {{else}}
      <UkSpinner />
    {{/if}}
  {{/if}}
{{/if}}