{{#if this.circulationActive}}
  <div class="uk-flex">
    <PowerSelectMultiple
      @searchEnabled={{true}}
      @options={{this.identities}}
      @selected={{this.selectedIdentities}}
      @onChange={{fn (mut this.selectedIdentities)}}
      @triggerClass="uk-select uk-width-2-3"
      @disabled={{@disabled}}
      as |identity|
    >
      {{identity.fullName}}
    </PowerSelectMultiple>

    <UkButton
      @color="primary"
      @disabled={{or this.addToCirculation.isRunning (not this.selectedIdentities.length)}}
      @loading={{this.addToCirculation.isRunning}}
      @onClick={{perform this.addToCirculation}}
      @class="uk-margin-left"
    >
      {{t "documents.circulation.add"}}
    </UkButton>
  </div>
{{/if}}

<WorkItemList
  @query={{this.workItemsQuery}}
  @config={{this.tableConfig}}
/>

{{#if this.circulationActive}}
  <WorkItemButton
    @workItemId={{this.circulationWorkItem.id}}
    @label={{t "documents.circulation.skip"}}
    @mutation="skip"
    @onSuccess={{this.transitionToCaseWorkItems}}
  />
  <WorkItemButton
    @workItemId={{this.finishCirculationWorkItem.id}}
    @label={{t "documents.circulation.finish"}}
    @mutation="complete"
    @disabled={{not this.canFinishCirculation}}
    @color="primary"
    @onSuccess={{this.transitionToCaseWorkItems}}
  />
{{/if}}
